body{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-weight: 300;
	font-size: 3em;
	color: #333333;
	letter-spacing: -0.025em;
}

h2{
	font-weight: 400;
	font-size: 1.65em;
}

strong{
	font-weight: 700;
}

p{
	margin-bottom: 40px;
}




#content{}

#navContainer{
	background: #282828;
	position:fixed;
	width:100%;
}

#topNav{
	margin:0 auto;
	width: 400px;
}

#topNav ul{

}

#topNav ul li{
	display: inline-block;
	/*float: left;*/
}

#topNav ul li a{
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	height: 35px;
	line-height: 35px;
	margin:8px 6px;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
	width: 75px;
}

#topNav ul li a:link{}
#topNav ul li a:visited{
}
#topNav ul li a:hover{
	background: #666666;
}
#topNav ul li a:active{}

#navLinks{}

#underline{}

#intro{
	padding-top: 150px;
}

.container{
	width:1200px;
	margin:0 auto; /* first var = top & bottom, second = left & right*/
                   /* if top & bottom or left & right different, enter 4 variables (top:0 right:0 bottom:0 left:0)*/
	
}

#portraitContainer{
	
}

#introPhoto{
	border-radius: 150px;
	width: 300px;
}

#intro h1{
	line-height: 130px;
}

#intro p{
	font-size: 1.25em;
	line-height: 125%;
	margin-bottom: 50px;
}

#intro p a{
	color: #333333;
	text-decoration: underline;
	font-weight: 600;
}

#work{
	background: #fafafa url("img/bg.png");
	padding-bottom: 40px;
	padding-top: 40px;
}

#work h2{
	text-align: center;
	margin-bottom: 20px;
}

#work p{
}

#work .box{
	margin:auto;
}

#workItems{}

#workItems .box {
	padding: 40px;
	color: #ea8a95;
	width: 220px;
	float: left;
	margin-left: 20px;
	text-align: center;
	background: #ffffff;
}

#workItems .box .fa{
	color: #ea8a95;
}

#workItems .box i{
	display: inline-block;
	font-size: 8em;
	margin-bottom: 10px;
}

#workItems .box h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #333333;
}

#workItems .box p{
	color: #888888;
	line-height: 30px;
}

#workItems .box ul{
	list-style-type: none;
	margin:0;
	padding:0px;
}

#workItems footer{
	padding: 20px;
}



/*portfolio*/

#portfolio{
	background: #f4f4f4 url("img/bg.png");
	padding:70px 0 40px;
}

#portfolio header{
	margin-bottom: 80px;
}

#portfolio .portfolioItem{
	width: 300px;
	margin:0 0 40px 80px;
	float:left;
	text-align: center;
	background: #ffffff;
}

#portfolio .portfolioItem footer{
	padding: 20px;
}

#portfolio .portfolioItem footer h3{
	font-size: 1.5em;
	letter-spacing: -0.015em;
	margin-bottom: 15px;
}

#portfolio .portfolioItem footer h3 a{
	text-decoration: none;
	color: #333333;
	font-weight:700;
}

#portfolio .portfolioItem footer p{
}


#detail{}

#contact{
	padding:70px 0 40px;
}

#findMe{
	padding:70px 0 40px;
}

input[type=test]{}
input[type=email]{}
input[type=radio]{}

input[type=submit],
input[type=reset]{}

.center{
	text-align: center;
}

/*The Magnificent CLEARFIX*/
.clearfix:after { 
  clear: both; 
  content: "."; 
  display: block; 
  height: 0; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

/* Rounded Corners*/
.btn{

	padding: 15px;
	color: #ffffff;
	text-decoration: none;
  text-shadow: -1px -1px .5px rgba(0,0,0,0.5);
  font-size: 23px;


	-webkit-border-radius: 5px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 5px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */

  /* Gradient */
background: #7db9e8;
background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799));
background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );


}

.box_shadow {
  -webkit-box-shadow: 0px 0px 4px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 4px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}